
<div class="container">
    <h1 class="text-center text-align text-primary">
      Contact Details
    </h1>
  </div>
  <div class="conatainer">
    <input width="50%" class="form-control" type="text"  placeholder="Search Contact Here">
      
      <div class="conatainer mt-3">
        <table class="table border">
          <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Age</th>
            <th scope="col">E mail</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Company </th>
            <th scope="col">Title</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contact of allcontacts">
            <td> {{contact.FirstName}} {{contact.LastName}} </td>
            <td><img width="100px" height="100px" src="{{contact.image}}" alt=""></td>
            <td> {{contact.age}} </td>
            <td> {{contact.email}} </td>
            <td> {{contact.phone}} </td>
            <td> {{contact.address.address}},{{contact.address.city}} </td>
            <td> {{contact.company.name}} </td>
            <td> {{contact.company.title}} </td>
          </tr>
        </tbody>
        </table>
        
    </div>